@media only screen and (max-width: 1024px) {
    li.nav-link {
        font-size: 16px;
        margin-right: 18px;
    }
    span#typed {
        font-size: 70px;
        font-weight:800;
    }
    p.homeStatic {
        font-size: 20px;
    }
    span.typed-cursor{
        font-size: 40px;
        font-weight: 600;
    }
    button.btn-home {
        padding: 0.5em 1.1em;
        font-weight: 800;
        font-size: 16px;
    }
    h2.aboutTitle {
        font-size: 26px;
    }
    p.aboutDesc {
        font-size: 16px;
        letter-spacing: 2.2px;
    }
    i.bx {
        font-size: 50px;
    }
    div.aboutCard {
        width: 327px;
        height: 280px;
       }
    span.box {
        width: 9px;
        height: 9px;
    }
    div.skills {
        margin-left: 13%;
        margin-right: 13%;
    }
    div.contactCard {
        width: 600px;
        height: 430px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.13), 0 8px 22px 0 rgba(0, 0, 0, 0.171);
       }
    button.buttonSend {
        font-size: 14px;
        padding: 0.6em 1em;
        padding-left: 0.8em;
       }
    span.footerText {
        font-size: 13px;
        margin-left: 13%;
    }
    
    i.bxl-linkedin-square {
        font-size: 26px;
    }
    
    i.bxl-github {
        font-size: 26px;
    }
    
    ul.footerUl {
        margin-right: 9%;
    }

  }

  @media only screen and (max-width: 768px) {
    a.nav-link {
        font-size: 15px;
        margin-right: 15px;
    }
    span#typed {
        font-size: 60px;
        font-weight:700;
    }
    p.homeStatic {
        font-size: 18px;
    }
    span.typed-cursor{
        font-size: 35px;
        font-weight: 500;
    }
    button.btn-home {
        padding: 0.4em 0.9em;
        font-weight: 700;
        font-size: 14px;
    }
    h2.aboutTitle {
        font-size: 24px;
    }
    p.aboutDesc {
        font-size: 14px;
        letter-spacing: 2px;
    }
    i.bx {
        font-size: 40px;
    }
    div.aboutCard {
        width: 260px;
        height: 210px;
       }
    span.box {
        width: 8px;
        height: 8px;
    }
    div.skills {
        margin-left: 12%;
        margin-right: 12%;
    }
    div.contactCard {
        width: 560px;
        height: 400px;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.13), 0 8px 22px 0 rgba(0, 0, 0, 0.171);
       }
    button.buttonSend {
        font-size: 12px;
        padding: 0.5em 0.8em;
        padding-left: 0.7em;
       }
    span.footerText {
        font-size: 12px;
        margin-left: 12%;
    }
    
    i.bxl-linkedin-square {
        font-size: 24px;
    }
    
    i.bxl-github {
        font-size: 24px;
    }
    
    ul.footerUl {
        margin-right: 8%;
    }

  }

  @media only screen and (max-width: 480px) {
    a.nav-link {
        font-size: 9px;
        margin-right: 8px;
    }
    span#typed {
        font-size: 46px;
        font-weight:700;
    }
    p.homeStatic {
        font-size: 12px;
    }
    img.logo {
        width: 27px !important;
        height: 27px !important;
    }
    header.header{
        position: absolute;
        margin-left: 1%;
    }
    span.typed-cursor{
        font-size: 30px;
        font-weight: 500;
    }
    button.btn-home {
        padding: 0.3em 0.7em;
        font-weight: 700;
        font-size: 12px;
    }
    h2.aboutTitle {
        font-size: 18px;
    }
    p.aboutDesc {
        font-size: 12px;
        letter-spacing: 1.7px;
    }
    i.bx {
        font-size: 30px;
    }
    div.aboutCard {
        margin-top: 10%;
        width: 180px;
        height: 180px;
       }
    span.box {
        width: 6px;
        height: 6px;
    }
    div.skills {
        margin-left: 10%;
        margin-right: 10%;
    }
    div.carousel{
        width: 80% !important;
    }
    button.btn-demo {
        font-size: 16px;
    }
    button.btn-outline-dark {
        font-size: 13.5px !important;
    }
    h1.fw-bold {
        font-size: 24px;
    }
    p.lead{
        font-size: 18px;
    }
    div.contactCard {
        width: 290px !important;
        height: 380px !important;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.13), 0 3px 12px 0 rgba(0, 0, 0, 0.171);
       }
    form.formArea {
        width: 235px !important; 
    }
    button.buttonSend {
        font-size: 10px;
        padding: 0.5em 0.7em;
        padding-left: 0.5em;
       }
    span.footerText {
        font-size: 12px;
        margin-left: 10%;
    }
    
    i.bxl-linkedin-square {
        font-size: 20px;
    }
    
    i.bxl-github {
        font-size: 20px;
    }
    
    ul.footerUl {
        margin-right: 6%;
    }

  }


* {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One', cursive;
    color: #fff;
}


#pagepiling .section {
    text-align: center;
}

#pp-nav li .active span, .pp-slidesNav .active span {
    background: #fff;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    padding-bottom: 0.25rem;
    display: inline-block;
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.65s ease-out;
}

.nav-link:hover::before {
    width: 100%;
}

#typed {
    color: #fff;
    font-size: 85px;
    font-weight: 1200;
    letter-spacing: 1px;
    font-family: 'Fredoka One', cursive;
}

.homeStatic {
    font-size: 22px;
    margin-top: 3%;
    font-weight: 100;
    color: rgb(225, 225, 225);
}
.typed-cursor{
    font-size: 50px;
    font-weight: 700;
}

.btn-home {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.6em;
    box-shadow: 0.1em 0.1em;
}

.btn-home:hover {
  transform: translate(-0.05em, -0.05em);
 box-shadow: 0.15em 0.15em;
 color: #ffc107;
 background-color: #212529;
}

.aboutDesc {
    font-size: 18px;
    letter-spacing: 2.5px;
}

.bx {
    font-size: 60px;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
}

.skills {
    margin-left: 15%;
    margin-right: 15%;
}

.bxl-visual-studio{
    color: #0078D8;
}

.bxl-javascript {
    color: #fec401; 
}

.bxl-html5 {
    color: #FA5800;
}

.bxl-git {
    color: #FA4B2A;
}

.bxl-css3 {
    color: #4476f5;
}

.bxl-bootstrap {
    color: #A513FA;
}

.aboutCard {
    width: 457px;
    height: 342px;
    margin: 0 auto;
    background-color: #011522;
    border-radius: 8px;
    z-index: 1;
   }
   
   .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
   
   .carousel {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
   }

   .btn-demo:hover {
    background-color: #006cc4;
    color: #fff;
   }
   .formArea {
    width: 475px;
   }

   .btn-submit {
    width: 150px;
    padding: 10px 0px;
   }

.contactCard {
    width: 650px;
    height: 460px;
    margin: 0 auto;
    background-color: #F8FBFE;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.13), 0 10px 26px 0 rgba(0, 0, 0, 0.171);
   }
   
   .tools {
    display: flex;
    align-items: center;
    padding: 9px;
   }
   
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
   .red {
    background-color: #ff605c;
   }
   
   .yellow {
    background-color: #ffbd44;
   }
   
   .green {
    background-color: #00ca4e;
   }
   
   .form-control {
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
   }

.buttonSend {
 font-family: inherit;
 font-size: 15px;
 background: linear-gradient(to right, #8e2de2, #4a00e0);
 color: white;
 padding: 0.7em 1em;
 padding-left: 0.9em;
 display: flex;
 align-items: center;
 border: none;
 border-radius: 16px;
 overflow: hidden;
 transition: all 0.2s;
}

.buttonSend span {
 display: block;
 margin-left: 0.3em;
 transition: all 0.3s ease-in-out;
}

.buttonSend svg {
 display: block;
 transform-origin: center center;
 transition: transform 0.3s ease-in-out;
}

.buttonSend:hover .svg-wrapper {
 animation: fly-1 0.6s ease-in-out infinite alternate;
}

.buttonSend:hover svg {
 transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.buttonSend:hover span {
 transform: translateX(5em);
}

.buttonSend:active {
 transform: scale(0.95);
}

@keyframes fly-1 {
 from {
  transform: translateY(0.1em);
 }

 to {
  transform: translateY(-0.1em);
 }
}

.footerText {
    font-size: 14px;
    font-family: 'Overpass', sans-serif;
    margin-left: 15%;
}

.bxl-linkedin-square {
    font-size: 28px;
}

.bxl-github {
    font-size: 28px;
}

.footerUl {
    margin-right: 10%;
}